.btn {
  border: 1px solid;
  &-border {
    &-danger {
      border-color: #ff4a57 !important;
    }
    &-primary {
      border-color: #06989a;
      color: #fff;
      margin-right: 10px;
      &:hover {
        background-color: #06989a;
        transition: 0.3s ease;
      }
    }
  }
  &-round {
    border-radius: 100%;
  }
}
